:80, :443 {
    root * /var/www/html/
    php_fastcgi php:9000
    tls internal

    # Redirect all requests to index.php
    rewrite * /index.php

    # Serve the PHP file through PHP-FPM
    file_server
}